@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Noto+Serif+KR&display=swap');

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'LeeSeoyun';
}

body {
    min-width: fit-content;
    background-color: #d8e2dc;
    margin:0px;
    padding:0px;
}


h1,h2 {
    margin:0px;
    padding:0px;
}


h1 {
    font-size:36px;
}


h2 {
    font-size:23px;
    color:#282828;
    font-weight: lighter;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.top-box {
    margin-top: 10px;
    margin-bottom: 30px;
}

.name-text {
    font-size:16px;
    color:#CD5C5C;
    font-weight: bold;
}

.about-me-text {
    font-size: 17px;
    line-height: 20px;
}

.mainbox {
    background-color: #FFF9F8;
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #ffc5c5;
    box-shadow: 0 1px 20px 0 rgba(205, 92, 92, 0.5);
}

.title-box {
    padding-top: 65px;
    text-align: left;
    float: right;
    padding-right: 110px;
}

section {
    margin-bottom:24px;
}

.float-wrap {
    overflow: hidden;
}

.title-text {
    font-size: 19px;
    color: #282828;
}

.desc-text {
    font-size: 17px;
    color:#282828;
    padding-left: 30px;
    margin-bottom: 30px;
}

.sns-img {
    padding-top: 12px;
    padding-left: 10px;
    width:20px;
    height:20px;
}

.sns-wrap {
    text-align: right;
    float: left;
}

.me-img {
    float: left;
    width: 200px;
    padding-left: 5px;
}

.top {
    margin-bottom: 50px;
    text-align: center;
    background-color: #ffc5c5;
    padding: 1px;
    font-size: 15px;
    color: #000000;
}

footer {
    margin-top: 50px;
    text-align: center;
    background-color: #ffc5c5;
    padding: 1px;
    font-size: 15px;
    color: #000000;
}

.name {
    float: left;
}
